<h1>Clean Email</h1>

<div class="doc">
  <p>Welcome to Clean Email.</p>

  <p>To use it, copy your content for your newsletter into the form below and click Clean. Your content will be automatically added to the template and displayed on the next page.</p>

  <p><em>Your content is <strong>not</strong> stored on any servers, other than to generate a template for you.</em></p>
</div>

<%= form_for :cleaner, url: cleaner_create_path do |form| %>
  <label for="cleaner_content">Your email content</label>
  <%= form.text_area :content, cols: 80, rows: 20 %>

  <%= form.submit "Clean" %>
<% end %>
